*
	box-sizing: border-box
.row::after
	content	""
	clear	both
	display	block
[class*="col-"]
	float	left
	padding	15px
.col-1
	width	8.33%
.col-2
	width	16.66%
.col-3
	width	25%
.col-4	
	width	33.33%
.col-5
	width	41.66%
.col-6	
	width	50%
.col-7	
	width	58.33%
.col-8	
	width	66.66%
.col-9
	width	75%
.col-10
	width	83.33%
.col-11
	width	91.66%
.col-12
	width	100%
.buttonbook
	color red
.navMenu	ul
	list-style-type	none
	margin	0
	padding	0
	overflow	hidden
	background-color	#FFFFFF
.navMenu	li
	float	left
.navMenu	li a
	font-size	18px
	display	block
	color	#28472F
	text-align	center
	padding	14px	16px
	text-decoration	none
.navMenu	li a:hover
	color	white
	background-color	#28472F
.navMenu2	ul
	list-style-type	none
	margin	0
	padding	0
	overflow	hidden
	background-color	#FFFFFF
.navMenu2	li
	float	left
.navMenu2	li a
	font-size	14px
	display	block
	color	#28472F
	text-align	center
	padding	7px	8px
	text-decoration	none
.botonBook
	background	#28472F
	color	white
	font-size	18px
	padding	10px
	border	none
	float	center
	border-radius	5px
	font-family 'Roboto Condensed',	sans-serif
.orangeMenu	
	background	#D89932
	color	white
	font-size	18px
	padding	0
	float	center
.brownMenu
	background	#1E1612
	color	white
	font-size	22px
	padding	0
	float	center
	text-align	center
	font-family 'Josefin Slab', serif
.proMenu
	background	#84A249
	color	white
	text-justify	inter-word
	text-align	center
	font-family	'Montserrat',	sans-serif
.serviceMenu
	color	#211B17
	background	#E3DDD2
	text-align	center
	font-family	'Montserrat',	sans-serif